html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI';
  }
  
  .pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .navbar {
    width: 100%;
    background-color: #cce4f9;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  
  .navbarLogo {
    height: 40px;
  }
  
  .signupContent {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 216, 237);
    gap: 20px;
    padding: 20px;
  }
  
  .signupImageContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signupImage {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 10px;
  }
  
  .formWrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signupFormContainer {
    border-radius: 10px;
    margin: 20px;
    width: 40vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signupHead {
    color: black;
    align-self: center;
  }
  
  .signupButton {
    align-self: center;
    width: 30%;
    height: 40px;
    background-color: rgb(93, 0, 93);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
  }
  
  input {
    width: 70%;
    height: 40px;
    margin-top: 10px;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
    border: 0.6px solid rgba(128, 128, 128, 0.338);
    color: black;
    border-radius: 20px;
    background-color: white;
  }
  
  .accountInfo {
    color: black;
    align-self: center;
  }
  
  .loginLink {
    color: black;
  }
  
  .errMsg {
    text-align: center;
    color: red;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.336);
    font-size: 18px;
  }
  
  .footerSignup {
    width: 100%;
    background-color: #cce4f9;
    text-align: center;
    padding: 8px;
    font-size: 10px;
    color: black;
  }
  
  @media (max-width: 768px) {
    .signupFormContainer {
      width: 50vw;
    }
    
    .signupButton {
      width: 70%;
    }
    
    label, .signupHead, .accountInfo {
      font-size: 18px;
    }
    
    .signupContent {
      flex-direction: column;
    }
  }
  
  @media (max-width: 480px) {
    .signupFormContainer {
      width: 80vw;
      padding: 15px;
    }
    
    .signupButton {
      width: 80%;
    }
    
    label, .signupHead, .accountInfo {
      font-size: 16px;
    }
    
    input {
      height: 35px;
    }
  }
  